---
	import { TabsIDs } from "../components/Navbar/";
	import Layout from "../layouts/Layout.astro";
	import { Icons } from "../svgs/";
	import { studies as StudiesInfos } from "../data/education";
	import { jobs as JobsInfos } from "../data/jobs";
	import { projects as ProjectsInfos } from "../data/projects";
	import { SimpleIconWrapper } from "../components/SimpleIconWrapper/";
	import { SocialsHyperlinks } from "../data/socials";
	import { version as WebsiteVersion  } from "../../package.json";

	import Image from "astro/components/Image.astro";
	import MeImage from "../../public/me.png";
	
	const techKnowledge = ["Java", "Python", "Javascript", "Typescript", "PHP", "HTML", "CSS", "SQL", "Node.js",
		                           "Tailwind CSS", "Git", "Svelte", "Scikit-Learn"];
	
	//import { siPython, siJavascript, siTypescript, siPhp, siHtml5, siCss3, siNodedotjs, siAstro, siTailwindcss, siGit, siSvelte, siScikitlearn } from "simple-icons";
	//const techKnowledgeIcons = [siPython, siJavascript, siTypescript, siSvelte, siScikitlearn, siNodedotjs, siPhp, siHtml5, siCss3, siAstro, siTailwindcss, siGit]
---

<Layout title="Home | Miguel Magueijo" activeTabID={ TabsIDs.Home }>
	<section class="mt-10">
		<div class="flex items-center flex-col md:flex-row md:justify-between">
			<Image class="rounded-full w-40 md:w-52 bg-gradient p-0.5 md:width-full" src={MeImage} alt="Miguel Magueijo" loading="eager" />
			<div class="text-right">
				<h1 class="mt-2 text-2xl font-bold text-priry md:text-5xl">Miguel Magueijo</h1>
				<h2 class="text-xl text-sery md:text-4xl">Student & Developer</h2>
				<div class="flex gap-4 mt-4 justify-center md:justify-end">
					{ Object.values(SocialsHyperlinks).map((hl) =>
						<a class="group hover:scale-125 duration-300" href={ hl.url } target="_blank" referrerpolicy="no-referrer">
							<SimpleIconWrapper classes="w-[26px] fill-sery group-hover:fill-priry group-hover:duration-300" icon={ hl.icon } />
							</a>
						) }
				</div>
			</div>
		</div>
		<div class="mt-8 text-justify">
			<p class="text-lg md:text-xl">
				Hi 👋<br>I'm <b class="text-priry">Miguel Magueijo</b> from Portugal 🇵🇹
			</p>
			<p class="mt-4 md:text-lg">
				As of today, I'm a web developer at Digitalis, where I help integrate Machine Learning solutions and contribute to enhancing existing web applications.
			</p>
			<p class="mt-1 md:text-lg">
				One of my favorite hobbies is programming, and sometimes I challenge myself to try to develop my own versions of apps with improvements that I think are needed or develop simple apps that come to my mind in random moments.
			</p>
			<p class="mt-1 md:text-lg">
				I also love videogames and fantasy worlds, being immersed in games and stories is one of the best things ever!
			</p>
			<p class="mt-1 md:text-lg">
				Currently I'm working Artificial Intelligence (Machine Learning) on my final bachelor's degree project.
			</p>
			<hr class="my-4 border-2 rounded opacity-90 dark:opacity-10">
			<p class="md:text-lg">
				This website shows a little about me, my education path, work experience and enumerates all projects I developed or helped in.<br>
				Want to work together or ask me something? <a class="underline" href="#contact-area">Send me a message!</a>
			</p>
			<p class="text-xs mt-2 opacity-40">
				This website is still being worked on! Updates are coming... Current version v{WebsiteVersion}.
			</p>
		</div>
	</section>

	<section class="my-10">
		<div class="flex space-x-2 items-center">
			<Icons.Suitcase class=" stroke-priry w-[25px] h-[25px] md:w-[35px] md:h-[35px]" />
			<h2 class="text-xl font-bold text-priry md:text-2xl">Work experience</h2>
		</div>
		<hr class="border-2 border-priry rounded mb-4">
		<ul class="space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-4">
			{ JobsInfos.map( (j) =>
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image" src={ j.imgUrl } alt={ j.imgAlt } title={ j.imgTitle } />
					<div class="text-sm col-span-4">
						<p class="font-bold text-lg md:text-xl">{ j.jobName }</p>
						<p class="font-semibold">{ j.companyName }</p>
						<p>{ j.positionName }</p>
						<p>{ j.start } - { j.end }</p>
					</div>
				</li>
			).reverse() }
		</ul>
	</section>

	<section class="my-10">
		<div class="flex space-x-2 items-center">
			<Icons.User class="stroke-priry w-[25px] h-[25px] md:w-[35px] md:h-[35px]" />
			<h2 class="text-xl font-bold text-priry md:text-2xl">Education</h2>
		</div>
		<hr class="border-2 border-priry rounded mb-4">
		<ul class="space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-4">
			{ StudiesInfos.map( (s) => 
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image" src={ s.imgUrl } alt={ s.imgAlt } title={ s.imgTitle } />
					<div class="text-sm col-span-4">
						<p class="font-bold text-lg md:text-xl">{ s.courseName }</p>
						<p class="font-semibold">{ s.schoolName }</p>
						<p>{ s.degree }</p>
						<p>{ s.start } - { s.end }</p>
					</div>
				</li>
			).reverse() }
		</ul>
	</section>

	<section class="my-10">
		<div class="flex space-x-2 items-center">
			<Icons.Box class="stroke-priry w-[25px] h-[25px] md:w-[35px] md:h-[35px]" />
			<h2 class="text-xl font-bold text-priry md:text-2xl">Projects</h2>
		</div>
		<hr class="border-2 border-priry rounded mb-4">
		<ul class="space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-4">
			{ ProjectsInfos.map( (p) =>
				<a href="#" class="group flex gap-2 items-center border-2 rounded border-priry/25 bg-priry/5">
					<div class="w-1/5 p-3 bg-white/5 h-full">
						<img class="h-full" src={ p.imgUrl } alt={ p.imgAlt } title={ p.imgTitle } />
					</div>
					<div class="w-4/5 col-span-4 block relative">
						<p class="font-semibold text-lg pr-4 overflow-ellipsis overflow-hidden whitespace-nowrap">
							{ p.name }
						</p>
						<p class="text-sm font-light">
							{ p.year }
						</p>
						<div class="absolute duration-300 opacity-0 w-0 right-0 group-hover:opacity-100 group-hover:right-4 top-1/2 -translate-y-1/2 rounded group-hover:w-8 h-8 overflow-hidden bg-priry text-baund flex justify-center text-lg items-center font-extrabold">
							&gt;
						</div>
					</div>
				</a>
			).reverse() }
		</ul>
	</section>

	<section class="my-10">
		<div class="flex space-x-2 items-center">
			<Icons.CodeDesktop class="stroke-priry w-[25px] h-[25px] md:w-[35px] md:h-[35px]" />
			<h2 class="text-xl font-bold text-priry md:text-2xl">Technologies</h2>
		</div>
		<hr class="border-2 border-priry rounded mb-4">
		<div class="flex flex-wrap gap-4">
			{ techKnowledge.map( (t) =>
				//<SimpleIconWrapper icon={t} classes="w-10 fill-sery duration-300" fillColorOnHover={true} />
				<div class="border-2 flex flex-col justify-center font-medium select-none hover:odd:bg-priry hover:even:bg-sery hover:text-baund duration-300 p-2 text-center rounded odd:border-priry even:border-sery">
					{ t }
				</div>
			) }
		</div>
	</section>

	<section class="my-10 p-1 border-2 border-priry rounded">
		<details>
			<summary class="p-2 flex justify-between items-center cursor-pointer">
				<span class="block text-xl font-bold text-priry md:text-2xl select-none">Others</span>
				<span class="otherArrow">
					<Icons.ArrowDown class="stroke-priry w-[25px] h-[25px] md:w-[35px] md:h-[35px]" strokeWidth={ 3 } />
				</span>
			</summary>
			<div class="p-2 rounded-b">
				<h3 class="font-bold text-lg md:text-xl">Areas of interest</h3>
				<ul class="list-disc list-inside">
					<li>Artificial Intelligence</li>
					<li>Backend development</li>
					<li>Optimizing software</li>
					<li>Databases</li>
					<li>Fantasy stories and worlds</li>
					<li>Gaming & Game Development</li>
				</ul>
				<h3 class="mt-5 font-bold text-lg md:text-xl">Technologies I've been using recently</h3>
				<ol class="list-decimal list-inside">
					<li>Scikit-Learn</li>
					<li>Go</li>
					<li>Svelte</li>
					<li>Docker</li>
				</ol>
				<small class="opacity-50"><b>Fun fact</b>: this website is made with Astro & Tailwind</small>
				<h3 class="mt-5 font-bold text-lg md:text-xl">Open to work and learn new stuff!</h3>
				<p>
					If you got an idea just shoot me a message on any of my socials and we can get to work on it!<br>
					I also have some projects ideas, if you want to co-create something with me just contact me already!<br>
				</p>
			</div>
		</details>
	</section>

	<hr class="my-8 md:my-12 rounded border-2 opacity-90 dark:opacity-10">

	<section id="contact-area" class="mb-10 space-y-4 focus:border-2 focus:border-black">
        <div>
            <h1 class="text-4xl md:text-5xl font-bold text-priry">
                Let's talk!
            </h1>
            <p class="text-lg md:text-xl font-semibold">
                Do you want to ask me something or want to work with me?
                <br>
                Hit me with a message on any of my socials! 
            </p>
        </div>
        <div>
            <h2 class="inline-block text-xl font-bold text-priry md:text-2xl mb-2">
                You can find me in
            </h2>
            <div class="grid gap-4 grid-flow-row sm:grid-cols-2 md:grid-flow-col md:grid-cols-3">
                { Object.values(SocialsHyperlinks).map((hl) =>
                    hl.name !== "GitHub" &&
					(<a class="flex space-x-4 items-center text-base md:text-lg underline md:no-underline md:hover:underline" href={ hl.url } target="_blank">
                        <SimpleIconWrapper classes="fill-black dark:fill-white w-[25px] h-[25px] md:w-[30px] md:h-[30px]" icon={ hl.icon } />
                        <p>{hl.display_text}</p>
                    </a>)
                ) }
            </div>
        </div>
    </section>
</Layout>

<style>
	@keyframes show-details {
		from {
			opacity: 0;
			transform: translateY(-1rem);
		}
	}

	.otherArrow {
		display: block;
		transition: transform 300ms;
		transform: rotate(-90deg);
	}

	details[open] .otherArrow {
		transform: rotate(0deg);
	}

	details[open] > *:not(summary) {
		animation: show-details 300ms linear;
	}

	.logo-image {
		@apply h-[55px] w-[55px] md:h-[60px] md:w-[60px] bg-white p-1 shadow border border-black dark:border-white border-opacity-10 rounded;
	}

	.project-pill {
		@apply text-xs font-bold rounded text-white relative select-none;
		padding-left: 1.1rem;
		padding-right: 0.5rem;
	}

	.project-pill::after {
		@apply absolute rounded-full;
		content: '';
		width: 0.55rem;
		height: 0.55rem;
		top: 50%;
		left: 0.3rem;
		transform: translateY(-50%);
	}

	.active-project-pill {
		@apply bg-green-600;
	}

	.active-project-pill::after {
		@apply bg-white;
	}

	.archived-project-pill {
		@apply  bg-[#a77a1b] cursor-default;
	}

	.archived-project-pill::after {
		@apply bg-black/50;
	}
</style>