---
    import type { PageLink } from "./types";
    import { SocialsHyperlinks } from "../../data/socials";
    import { SimpleIconWrapper } from "../SimpleIconWrapper";
    import { siGithub } from "simple-icons";

    const currentYear = new Date().getFullYear();

    const websiteHyperlinks: Array<PageLink> = [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/#contact-area",
            text: "Contact",
        },
        {
            href: "/forged-in-space",
            text: "ForgedIn.Space"
        },
    ];
---
<footer class="border-t-2 border-priry/30 bg-priry/5 mt-32">
    <!-- Mobile Menu -->
    <div class="rounded py-6 block md:hidden">
        <img class="w-16 mx-auto mb-4" src="/Logo/MCrown_Classic_Dark.svg" title="Miguel Magueijo Logo" alt="Miguel Magueijo Logo" loading="lazy" />
        <h3 class="font-bold text-xl text-center">
            Links
        </h3>
        <ul class="underline mt-2 space-y-1 text-center">
            { websiteHyperlinks.map((link) =>
                <li>
                    <a href={ link.href }>
                        { link.text }
                    </a>
                </li>
            ) }
        </ul>
        <h3 class="font-bold text-xl text-center mt-2">
            Contacts
        </h3>
        <ul class="flex justify-center gap-8 text-sm mt-4">
            { Object.values(SocialsHyperlinks).map((hl) =>
                <li>
                    <a href={ hl.url } target="_blank" rel="noopener noreferrer" title={ hl.hyper_title }>
                        <SimpleIconWrapper classes="w-6 fill-xetx" icon={hl.icon} />
                    </a>
                </li>
            ) }
        </ul>
        <hr class="my-6 rounded border-2 border-priry/25 w-4/5 mx-auto">
        <p class="text-center">Miguel Magueijo © {currentYear}</p>
        <a class="block text-center underline mt-2" href="https://github.com/miguelmagueijo/website" target="_blank" rel="noopener noreferrer" title="Website source code hyperlink">Source Code</a>
    </div>
    <!-- Desktop Menu -->
    <div class="w-full p-4 rounded text-white hidden md:block md:mx-auto md:w-[750px]">
        <div class="grid gap-4 grid-cols-2 grid-rows-1">
            <div>
                <h3 class="font-bold text-lg text-sery">
                    Links
                </h3>
                <ul class="underline mt-4 space-y-1 text-sm">
                    { websiteHyperlinks.map((link) =>
                        <li>
                            <a href={ link.href }>
                                { link.text }
                            </a>
                        </li>
                    ) }
                </ul>
            </div>
            <div>
                <h3 id="footer-socials" class="mb-2 font-bold text-lg text-sery">
                    Contacts
                </h3>
                <ul class="grid grid-cols-2 grid-flow-row gap-2 text-sm">
                    { Object.values(SocialsHyperlinks).map((hl) =>
                        hl.name !== "GitHub" &&
                        (<li>
                            <a class="flex justify-start items-center gap-4 underline" href={ hl.url } target="_blank" rel="noopener noreferrer" title={ hl.hyper_title }>
                                <SimpleIconWrapper classes="w-6 fill-xetx" icon={hl.icon} />
                                { hl.display_text }
                            </a>
                        </li>)
                    ) }
                </ul>
            </div>
        </div>
        <hr class="my-4 rounded border-2 border-priry/30">
        <div class="text-sm grid grid-cols-3">
            <div class="flex gap-2 items-center">
                <img class="w-6" src="/Logo/MCrown_Classic_Dark.svg" title="Miguel Magueijo Logo" alt="Miguel Magueijo Logo" loading="lazy" />
                <p>Miguel Magueijo © {currentYear}</p>
            </div>
            <div class="flex justify-center">
                <a href="https://github.com/miguelmagueijo" target="_blank" rel="noopener noreferrer" title="Github - Miguel Magueijo">
                    <SimpleIconWrapper classes="w-6 fill-xetx" icon={siGithub} /> 
                </a>
            </div>
            <div class="text-right">
                <a class="inline-block underline" href="https://github.com/miguelmagueijo/website" target="_blank" rel="noopener noreferrer" title="Website source code hyperlink">Source Code</a>
            </div>
        </div>
    </div>
</footer>